#heading{
    text-align: center;
    
}
.heading{

    text-align: center;
    font-weight: lighter;
    text-decoration: underline;
}
.para{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    text-align: left;
}
.para2{
    text-align: center;
    font-family: Arial;
}