body{
    background-color: rgb(132, 255, 0);
}

h1{
    color: rgb(255,0, 0);
}

p{
    color: purple;
}

button{
    color: #ff0000;
    background-color: rgb(238, 241, 207);

}
#heading{
    color: #ff00f0;
}
.myclass{
    background-color: #0f0f0f;
    color: pink;
}